:root {
	--primary: #7c2325;
	--bg: #f2dade;
}

@font-face {
	font-family: "Hatton";
	src: url('../../public/fonts/hatton.otf');
	font-weight: normal;
	font-style: normal;
  }
* {
	outline: none;
	padding: 0;
	margin: 0;
}


a {
	outline: none !important;
}

body {
	background-color: #F5F5F5;
	color: #555;
	font-size: 1.1em;
	font-family: Arial, Helvetica, sans-serif;
	outline: none;
	padding: 0;
	margin: 0;
}

.header {
	background: #FFF;
}

nav ul {
	-webkit-font-smoothing: antialiased;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

nav li {
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
	
}

nav a {
	color: #444;
	display: block;
	font: normal 13px/50px Arial, Helvetica, sans-serif;
	padding: 0 25px;
	font-weight: 500;
	letter-spacing: 2px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}

nav .dropdown {
	/* background:url('../images/arrow.jpg') no-repeat right center; */
}
nav .dropdown:after{
	content: '';
	position: absolute;
	width: 0; height: 2px;
	display: block;
	margin-top: 5px;
	right: 0;
	background: var(--primary);
	transition: width .2s ease;
	-webkit-transition: width .2s ease;
  }
 
nav .dropdown:hover:after  {
	/* background: #01abf8; */
	/* color:var(--primary) !important; */
	width: 100%;
	left: 0;
	background: var(--primary);
}
.dropdown:hover{
	color:var(--primary);
}
nav li ul {
	background-color: #fff;
	/* float: left; */
	left: 0;
	width: 150%;
	opacity: 0;
	position: absolute;
	top: 55px;
	margin-top: 10px;
	visibility: hidden;
	z-index: 1;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}

nav li:hover ul {
	opacity: 1;
	top: 50px;
	visibility: visible;
}

nav li ul li {
	float: none;
	width: 100%;
}
nav li ul a {
	font-weight: 500;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
nav li ul a:hover {
	color: var(--primary);
	font-weight: bold;
	
	/* background: #bbb; */
}

/* Clearfix */
.cf:after,
.cf:before {
	content: "";
	display: table;
}

.cf:after {
	clear: both;
}
.mob-header{
	display: none !important;
}
.heading{
	font-family: 'Hatton',serif;
	text-align: center;
	font-size: 1.8rem;
	padding-top: 60px;
	color: var(--primary);
}
.sub-text{
	text-align: center;
	font-size: .9rem;
	font-weight: bold;
}
.divider{
	height: 3px;
	background-color: var(--primary);
}
.ct{
	text-align: center;
	font-size: .7rem;
	font-weight: bold;
	padding: 10px 0px;
}
.price{
	text-align: center;
	font-size: .8rem;
	/* font-weight: bold; */
	letter-spacing: 3px;
}
.card-l{
	text-decoration: none;
	cursor: pointer;
}
.card-l:hover .card-l{
	background-color: var(--bg) !important;
}
.card-l:hover .ct{
	color: var(--primary) !important;
}
.imx{
	transition: transform .2s;
}
.card-l:hover .imx{
	transform: scale(.95);
	
}
.promo{
	background-color: var(--bg);
	text-align: center;
	padding: 8px 10px;
}
.promo span{
	color: #000;
	font-size: 12px;
}
.promo span strong{
	color: var(--primary);
}
.cat:hover .main-text{
	opacity: 1;
	padding: 10px 30px;
	transform: translate(-70px,0px);
}
.main-text{
	transition: .5s;
	opacity: 0.8;
	border-radius: 5px;
	background-color: var(--primary);
	padding: 10px 20px;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-60px,0px);
}
.main-text:hover{
	background-color: var(--bg);
	color: var(--primary);
	cursor: pointer;
}
@media only screen and (max-width: 1240px) {
	.pc-header{
		display: none;
	}
	.mob-header{
		display: flex !important;
	}
	.main-text{
		transition: .5s;
		opacity: 0.8;
		border-radius: 5px;
		background-color: var(--primary);
		padding: 5px 10px;
		color: #fff;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-45px,-10px);
		font-size: 14px;
	}
}

.ant-drawer-body{
	padding: 0px !important;
}
ul .ant-menu {
	width: 100% !important;
}